.menu {
  list-style: none;
}
.list_item {
  display: inline;
}
.link_menu {
  display: inline;
  text-decoration: none;
  margin: 100px;
}
.link_menu:hover {
  color: blue;
}
.container {
  margin: 0 auto;
  width: 1053px;
  height: 2054px;
}
.paragraph {
  display: inline;
  width: 500px;
}
.button {
  color: grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  width: 125px;
  height: 50px;
  margin: 10px;
  margin-left: 675px;
}
